/vendor/
/node_modules/
/.idea/
/.vscode/
/.vagrant/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
/public/hot
/public/storage
/storage/*.key
/composer.lock
/package-lock.json
